<div id="bg-app" layout="column" layout-align="center center" layout-fill>
    <md-card>
        <md-toolbar class="padded">
            <h5 translate>{{ 'auth.login_title' }}</h5>
        </md-toolbar>
        <form name="userForm" class="padded" ng-submit="authenticate_user()">
            <md-input-container>
                <label translate>{{ 'auth.form.label.email' }}</label>
                <input type="email" name="email" ng-model="user.email" required >
                <div ng-messages="userForm.email.$error" ng-show="userForm.email.$invalid">
                    <div ng-message="required">
                        <span translate>{{ 'auth.form.error.required_field' }}</span>
                    </div>
                    <div ng-message="email">
                        <span translate>{{ 'auth.form.error.invalid_mail' }}</span>
                    </div>
                </div>
            </md-input-container>
            <md-input-container>
                <label translate>{{ 'auth.form.label.password' }}</label>
                <input type="password" name="password" ng-model="user.password" required minlength="8" value="{{user.password}}">
                    <div ng-messages="userForm.password.$error" ng-show="userForm.password.$invalid">
                        <div ng-message="required">
                            <span translate>{{ 'auth.form.error.required_field' }}</span>
                        </div>
                        <div ng-message="minlength">
                            <span translate>{{ 'auth.form.error.too_short' }}</span>
                        </div>
                    </div>
            </md-input-container>
            <md-button type="submit" class="md-primary">
                <span translate>{{ 'auth.form.login_submit' }}</span>
            </md-button>
            <a ui-sref="passwordRecovery" translate>{{ 'auth.forgotten_password_link' }}</a>
        </form>
    </md-card>
</div>
