<div id="bg-app" layout="column" layout-align="center center" layout-fill>
    <md-card>
        <md-toolbar class="padded">
            <h5 translate>{{ 'CARD_TITLE' }}</h5>
        </md-toolbar>
        <form name="userForm" class="padded" ng-submit="authenticate_user()">
            <md-input-container>
                <label>E-mail</label>
                <input type="email" name="email" ng-model="user.email" required >
                <div ng-messages="userForm.email.$error" ng-show="userForm.email.$invalid">
                    <div ng-message="required">This is required!</div>
                    <div ng-message="email">Your email address is invalid</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input type="password" name="password" ng-model="user.password" required minlength="8" value="{{user.password}}">
                    <div ng-messages="userForm.password.$error" ng-show="userForm.password.$invalid">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="minlength">Too short</div>
                    </div>
            </md-input-container>
            <md-button type="submit" class="md-primary">
                connexion
            </md-button>
        </form>
    </md-card>
</div>
