<div id="bg-app" layout="column" layout-align="center center" layout-fill>
    <md-card>
        <md-toolbar class="padded">
            <h5>Changement de mot de passe</h5>
        </md-toolbar>
        <form name="passwordForm" class="padded" ng-submit="passwordChange()">
            <p>Veuillez entrer votre adresse mail pour recevoir les instruction de réinitialisation de votre mot de passe.</p>
            <md-input-container>
                <label>Password</label>
                <input type="password" name="password" ng-model="user.password" required minlength="8" value="">
                    <div ng-messages="passwordForm.password.$error" ng-show="passwordForm.password.$invalid">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="minlength">Too short</div>
                    </div>
            </md-input-container>
            <md-input-container>
                <label>Password Confirmation</label>
                <input type="password" name="password_confirmation" ng-model="user.passwordConfirmation" required minlength="8" field-compare-to="passwordForm.password">
                    <div ng-messages="passwordForm.password_confirmation.$error" ng-show="passwordForm.password_confirmation.$invalid">
                        <div ng-message="required">This is required!</div>
                        <div ng-message="minlength">Too short</div>
                        <div ng-message="fieldCompareTo">Les passwords sont différents</div>
                    </div>
            </md-input-container>
            <md-button type="submit" class="md-primary">
                Envoyer
            </md-button>
        </form>
    </md-card>
</div>
