<md-whiteframe class="md-whiteframe-z1 auth-box" layout="column" flex="33" flex-sm="90">
    <md-toolbar class="padded">
        <h3 translate>{{ 'auth.password_recovery_title' }}</h3>
    </md-toolbar>
    <md-content>
        <form name="passwordForm" class="padded" ng-submit="sendRecoveryMail()">
            <p translate></p>
            <md-input-container>
                <label translate>{{ 'auth.form.label.email' }}</label>
                <input type="email" name="email" ng-model="user.email" required >
                <div ng-messages="passwordForm.email.$error" ng-show="passwordForm.email.$invalid">
                    <div ng-message="required">
                        <span translate>{{ 'auth.form.error.required_field' }}</span>
                    </div>
                    <div ng-message="email">
                        <span translate>{{ 'auth.form.error.invalid_mail' }}</span>
                    </div>
                </div>
            </md-input-container>
            <md-button type="submit" class="md-primary">
                <span translate>{{ 'auth.form.password_recovery_submit' }}</span>
            </md-button>
        </form>
    </md-content>
</md-whiteframe>