<div id="bg-app" layout="column" layout-align="center center" layout-fill>
    <md-card>
        <md-toolbar class="padded">
            <h5>Oubli de mot de passe?</h5>
        </md-toolbar>
        <form name="passwordForm" class="padded" ng-submit="sendRecoveryMail()">
            <p>Veuillez entrer votre adresse mail pour recevoir les instruction de réinitialisation de votre mot de passe.</p>
            <md-input-container>
                <label>E-mail</label>
                <input type="email" name="email" ng-model="user.email" required >
                <div ng-messages="passwordForm.email.$error" ng-show="passwordForm.email.$invalid">
                    <div ng-message="required">This is required!</div>
                    <div ng-message="email">Your email address is invalid</div>
                </div>
            </md-input-container>
            <md-button type="submit" class="md-primary">
                Envoyer
            </md-button>
        </form>
    </md-card>
</div>
