<md-whiteframe class="md-whiteframe-z1 auth-box" layout="column" flex="33">
    <md-toolbar class="padded">
        <h3 translate>{{ 'auth.change_password_title' }}</h3>
    </md-toolbar>
    <md-content>
        <form name="passwordForm" class="padded" ng-submit="passwordChange()">
            <md-input-container>
                <label translate>{{ 'auth.form.label.new_password' }}</label>
                <input type="password" name="password" ng-model="user.password" required minlength="8" value="">
                    <div ng-messages="passwordForm.password.$error" ng-show="passwordForm.password.$invalid">
                        <div ng-message="required">
                            <span translate>{{ 'auth.form.error.required_field' }}</span>
                            </div>
                        <div ng-message="minlength">
                            <span translate>{{ 'auth.form.error.too_short' }}</span>
                        </div>
                    </div>
            </md-input-container>
            <md-input-container>
                <label translate>{{ 'auth.form.label.password_confirmation' }}</label>
                <input type="password" name="password_confirmation" ng-model="user.passwordConfirmation" required minlength="8" field-compare-to="passwordForm.password">
                    <div ng-messages="passwordForm.password_confirmation.$error" ng-show="passwordForm.password_confirmation.$invalid">
                        <div ng-message="required">
                            <span translate>{{ 'auth.form.error.required_field' }}</span>
                        </div>
                        <div ng-message="minlength">
                            <span translate>{{ 'auth.form.error.too_short' }}</span>
                        </div>
                        <div ng-message="fieldCompareTo">
                        <span translate>{{ 'auth.form.error.no_match' }}</span>
                        </div>
                    </div>
            </md-input-container>
            <md-button type="submit" class="md-primary">
                <span translate>{{ 'auth.form.password_change_submit' }}</span>
            </md-button>
            <div class="form-error" ng-show="formError" translate>{{ 'auth.form.error.errors_present' }}</div>
        </form>
    </md-content>
</md-whiteframe>
