//=================================================================
//  Fixs layout
//=================================================================

body{
    overflow:hidden;
}

md-toolbar{
    min-height:48px;
    padding:10px;
    h1, h2, h3, h4, h5, h6 {
        margin:0;
    }
}
md-content{
    padding:15px;
}

//=================================================================
//  Custom errors style
//=================================================================
.form-error{
    color: rgb(244,67,54);
    font-size: 12px;
    line-height: 24px;
}

//=================================================================
//  Toasts colors
//=================================================================
md-toast{
    &.md-top{
        top:52px;
    }
    &.toast_success{
        background-color:#4CAF50;
    }
    &.toast_notice{
        background-color:#03A9F4;
    }
    &.toast_warning{
        background-color:#FFA726;
    }
    &.toast_error{
        background-color:#E65100;
    }
}
//=================================================================
//  Main navigation
//=================================================================
#app-navigation{
    z-index:10;
    height:48px;
    .nav-icon{
        font-size:1.5em;
    }
}

//=================================================================
//  Dropdowns buttons
//=================================================================
dropdown-button{
    font-size:2em;
    cursor:pointer;
}
.dropdown-content {
    display:none;
    position: absolute;
    background-color: #FFFFFF;
    margin: 0;
    min-width: 100px;
    z-index: 1000;
    max-height: 70%;
    opacity: 0;
    overflow-y: hidden;
    white-space: nowrap;
    list-style: none;
    padding:0;
    li {
        cursor: pointer;
        font-size: 1em;
        color: rgba(0, 0, 0, 0.87);
        line-height: 1.5rem;
        &:hover, &.active {
            background-color: rgba(0,0,0, .06);
        }
        & > a, & > span {
            display: block;
            padding: 1rem 0.5rem;
            color: rgba(0, 0, 0, 0.87);
        }
    }
}
//=================================================================
//  Language switcher
//=================================================================
img.flag_img{
    width:30px;
    height:23px;
    vertical-align: middle;
    line-height: 0px;
}
span.flag_label{
    margin-left:10px;
    line-height: 0px;
} 

//=================================================================
//  Animations
//=================================================================


/*  INIT DES ANIMS */
.ui-view-container {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}
[ui-view].ng-enter, [ui-view].ng-leave-active {
  opacity: 0;
  z-index: 8888;
}
[ui-view].ng-enter-active, [ui-view].ng-leave {
  opacity: 1;
  z-index: 9999;
}

.ng-enter {
    visibility: hidden;
    -webkit-animation-play-state: paused;
       -moz-animation-play-state: paused;
         -o-animation-play-state: paused;
            animation-play-state: paused;
    &.ng-enter-active {
      visibility: visible;
      -webkit-animation-play-state: running;
         -moz-animation-play-state: running;
           -o-animation-play-state: running;
              animation-play-state: running;
    }
  }


.right.ng-enter{
    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    -o-animation-duration:0.5s;
    animation-duration:0.5s;
    -webkit-animation-name: slideInRight;
    -o-animation-name: slideInRight;
    -moz-animation-name: slideInRight;
    animation-name: slideInRight; 
}
.right.ng-leave{
    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    -o-animation-duration:0.5s;
    animation-duration:0.5s;
    -webkit-animation-name: slideOutRight;
    -o-animation-name: slideOutRight;
    -moz-animation-name: slideOutRight;
    animation-name: slideOutRight; 
}

.fade-layout.ng-enter{
    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    -o-animation-duration:0.5s;
    animation-duration:0.5s;
    -webkit-animation-name: slideInRight;
    -moz-animation-name: slideInRight;
    -o-animation-name: slideInRight;
    animation-name: slideInRight;
}
.fade-layout.ng-leave{
    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    -o-animation-duration:0.5s;
    animation-duration:0.5s;
    -webkit-animation-name: slideOutLeft;
    -moz-animation-name: slideOutLeft;
    -o-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
}

//=================================================================
//  Fixs IOS
//=================================================================

/* Fix inputs on ios */
  input, button, textarea, select {
    -webkit-transform: translate3d(0,0,0);
}

