.padded{
    padding:10px;
}
.form-error{
    color: rgb(244,67,54);
    font-size: 12px;
    line-height: 24px;
}

//=================================================================
//  Toasts colors
//=================================================================
md-toast{
    &.toast_success{
        background-color:green;
    }
    &.toast_notice{
        background-color:blue;
    }
    &.toast_warning{
        background-color:orange;
    }
    &.toast_error{
        background-color:red;
    }
}
//=================================================================
//  Main navigation
//=================================================================
#app-navigation{
    z-index:10;
    md-select{
        margin-top:0;
        md-select-label{
            font-size:2em;
            border-bottom:0px solid;
            .md-select-icon {
                display:none;
            }
        }
    }
}