<div ng-include="navTemplate" ></div>

<div id="dashboard_container" ui-view layout="column" full-height="48">
    <md-toolbar class="md-tall md-hue-2" >
      <span flex></span>
      <h2 class="md-toolbar-tools">
        <span class="md-flex">
            <strong translate="dashboard.welcome" translate-value-username="{{currentUser.email}}" ></strong></br>
            <span>Connecté en tant que {{ currentRole }}</span>
        </span>
      </h2>
    </md-toolbar>
    <div layout="row" layout-sm="column" style="width:100%" layout-wrap layout-padding>
        <div flex="66" flex-sm="95" flex-order-sm="2">
            <md-whiteframe class="md-whiteframe-z1" layout="column" >
                <md-toolbar class="md-hue-3" style="width:100%;">Toolbar title</md-toolbar>
                <md-content class="md-padding" style="width:100%;">
                    <div>fdghdfhfdhfdghfd </div>
                </md-content>
            </md-whiteframe>
        </div>
        <div flex="33" flex-sm="95" flex-order-sm="1">
            <md-whiteframe class="md-whiteframe-z1" layout="column">
                <md-toolbar class="md-hue-3" style="width:100%;">Toolbar title</md-toolbar>
                Activity feed
            </md-whiteframe>
        </div>

    </div>
</div>

<div ng-include="'edit_profile.html'" ng-controller="EditProfileCtrl"></div>