<div ng-include="navTemplate" ></div>
<div ui-view layout="column" layout-align="space-between start" full-height>
    <md-toolbar class="md-tall md-hue-2" >
      <span flex></span>
      <h2 class="md-toolbar-tools">
        <span class="md-flex">
            <strong translate="dashboard.welcome" translate-value-username="{{userProfile.username}}" ></strong></br>
            <span>Connecté en tant que {{ currentRole }}</span>
        </span>
      </h2>
    </md-toolbar>
    <div layout="row" style="width:100%" layout-padding>
        <div flex="66">
            <md-whiteframe class="md-whiteframe-z1" layout="column" >
                <md-toolbar class="md-hue-3">Toolbar title</md-toolbar>
                <md-content class="md-padding" style="width:100%;">
                    
                </md-content>
            </md-whiteframe>
        </div>
        <div flex="33" >
            <md-whiteframe class="md-whiteframe-z1" layout>
                Activity feed
            </md-whiteframe>
        </div>

    </div>
</div>

