<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="editProfilePanel" >
      <md-toolbar>
        <h1 class="md-toolbar-tools" translate>{{ 'auth.edit_profile_title' }}</h1>
      </md-toolbar>
      <md-content class="md-padding" >
        <form name="userForm" ng-submit="edit_profile()">
          <md-button type="submit" class="md-primary ">
            <span translate>{{ 'auth.form.edit_profile_submit' }}</span>
          </md-button>
          <md-input-container>
            <label translate>{{ 'auth.form.label.first_name' }}</label>
            <input type="text" name="first_name" ng-model="profile.first_name" required >
            <div ng-messages="userForm.first_name.$error" ng-show="userForm.first_name.$invalid">
                <div ng-message="required"><span translate>{{ 'auth.form.error.required_field' }}</span></div>
            </div>
          </md-input-container>
          <md-input-container>
            <label translate>{{ 'auth.form.label.last_name' }}</label>
            <input type="text" name="last_name" ng-model="profile.last_name" required >
            <div ng-messages="userForm.last_name.$error" ng-show="userForm.last_name.$invalid">
                <div ng-message="required"><span translate>{{ 'auth.form.error.required_field' }}</span></div>
            </div>
          </md-input-container>
          <md-input-container>
            <label translate>{{ 'auth.form.label.email' }}</label>
            <input type="email" name="email" ng-model="profile.user_attributes.email" required >
            <div ng-messages="userForm.email.$error" ng-show="userForm.email.$invalid">
                <div ng-message="required"><span translate>{{ 'auth.form.error.required_field' }}</span></div>
            </div>
          </md-input-container>
          <md-input-container>
            <label translate>{{ 'auth.form.label.address' }}</label>
            <input type="text" name="address" ng-model="profile.address" required >
            <div ng-messages="userForm.address.$error" ng-show="userForm.address.$invalid">
                <div ng-message="required"><span translate>{{ 'auth.form.error.required_field' }}</span></div>
            </div>
          </md-input-container>
          <md-input-container>
            <label translate>{{ 'auth.form.label.zip_code' }}</label>
            <input type="number" name="zip_code" ng-model="profile.zip_code" required >
            <div ng-messages="userForm.zip_code.$error" ng-show="userForm.zip_code.$invalid">
                <div ng-message="required"><span translate>{{ 'auth.form.error.required_field' }}</span></div>
                <div ng-message="number"><span translate>{{ 'auth.form.error.number_field' }}</span></div>
            </div>
          </md-input-container>
          <md-input-container>
            <label translate>{{ 'auth.form.label.city' }}</label>
            <input type="city" name="city" ng-model="profile.city" required >
            <div ng-messages="userForm.city.$error" ng-show="userForm.city.$invalid">
                <div ng-message="required"><span translate>{{ 'auth.form.error.required_field' }}</span></div>
            </div>
          </md-input-container>
          <md-input-container>
            <label translate>{{ 'auth.form.label.tel' }}</label>
            <input type="tel" name="tel" ng-model="profile.tel" required >
            <div ng-messages="userForm.tel.$error" ng-show="userForm.tel.$invalid">
                <div ng-message="number"><span translate>{{ 'auth.form.error.number_field' }}</span></div>
                <div ng-message="required"><span translate>{{ 'auth.form.error.required_field' }}</span></div>
            </div>
          </md-input-container>
          <p translate>{{ 'auth.edit_password_notice' }}</p>
          <md-input-container>
              <label translate>{{ 'auth.form.label.new_password' }}</label>
              <input type="password" name="password" ng-model="profile.user_attributes.password" minlength="8" value="">
                  <div ng-messages="userForm.password.$error" ng-show="userForm.password.$invalid">
                      <div ng-message="minlength">
                          <span translate>{{ 'auth.form.error.too_short' }}</span>
                      </div>
                  </div>
          </md-input-container>
          <md-input-container>
              <label translate>{{ 'auth.form.label.password_confirmation' }}</label>
              <input type="password" name="password_confirmation" ng-model="profile.user_attributes.password_confirmation"  minlength="8" field-compare-to="userForm.password">
                  <div ng-messages="userForm.password_confirmation.$error" ng-show="userForm.password_confirmation.$invalid">
                      <div ng-message="minlength">
                          <span translate>{{ 'auth.form.error.too_short' }}</span>
                      </div>
                      <div ng-message="fieldCompareTo">
                      <span translate>{{ 'auth.form.error.no_match' }}</span>
                      </div>
                  </div>
          </md-input-container>
        </form>
    </md-content>
</md-sidenav>