<md-toolbar id="app-navigation" ng-controller="NavCtrl" class="md-whiteframe-z2">
  <div class="md-toolbar-tools">
    <span>WooLab</span>
    <!-- fill up the space between left and right area -->
    <span flex></span>
    
    <md-select ng-model="language">
      <md-select-label translate><i class="md md-language"></i></md-select-label>
      <md-option value="fr-FR" ng-click="changeLanguage('fr-FR')" translate>{{ 'ui.languages.french' }}</md-option>
      <md-option value="en-US" ng-click="changeLanguage('en-US')" translate>{{ 'ui.languages.english' }}</md-option>
    </md-select>

    <md-button>
      <a href="/login" translate>{{ 'auth.login_link' }}</a>
    </md-button>

  </div>
</md-toolbar>