<md-toolbar id="app-navigation" ng-controller="NavCtrl" class="md-whiteframe-z2">
  <div class="md-toolbar-tools">
    <span>WooLab</span>
    <!-- fill up the space between left and right area -->
    <span flex></span>
    
    <dropdown-button data-activates="language_dropdown">
      <i class="md md-language nav-icon"></i>
    </dropdown-button>
    <ul id="language_dropdown" class="dropdown-content">
      <li>
        <a value="fr-FR" ng-click="changeLanguage('fr-FR')" >
          <img class="flag_img" ng-src="assets/fr-FR.svg" />
          <span class="flag_label" translate>{{ 'ui.languages.french' }}</span>
        </a>
      </li>
      <li>
        <a value="en-US" ng-click="changeLanguage('en-US')" >
          <img class="flag_img" ng-src="assets/en-US.svg" />
          <span class="flag_label" translate>{{ 'ui.languages.english' }}</span>
        </a>
      </li>
    </ul>

    <md-button>
      <a ui-sref="base.login" translate>{{ 'auth.login_link' }}</a>
    </md-button>

  </div>
</md-toolbar>